
	<div class="alert alert-danger" id="uniquestockalert"  aria-live="rude" role="alert" hidden>
	  {% trans %}Stock already exists!{% endtrans %}<br>
	  {% trans %}Go to Edit Product to update Opening Stock.{% endtrans %}
	</div>
	<div class="alert alert-danger" id="emptygodownalert"  aria-live="rude" role="alert" hidden>
	  {% trans %}Please select the godown!{% endtrans %}
	</div>
	<div class="alert alert-danger" id="emptyproductalert"  aria-live="rude" role="alert" hidden>
	  {% trans %}Please select the product!{% endtrans %}
	</div>
	<div class="alert alert-danger" id="emptyopstkalert"  aria-live="rude" role="alert" hidden>
	  {% trans %}Please enter the Opening stock!{% endtrans %}
	</div>
	<div class="alert alert-success" id="stocksuccess"  aria-live="rude" role="alert" hidden>
	  {% trans %}Stock saved successfully!{% endtrans %}
	</div>
	<div class="alert alert-danger" id="stockfailure"  aria-live="rude" role="alert" hidden>
	  {% trans %}Saving stock details failed!{% endtrans %}
	</div>
	<div class="alert alert-danger" id="Product-blank-alert"  aria-live="rude" role="alert" hidden>
	  {% trans %}Please select Product!{% endtrans %}
	</div>
	<div class="alert alert-danger" id="stock-blank-alert"  aria-live="rude" role="alert" hidden>
	  {% trans %}Please Enter Opening Stock.{% endtrans %}
	</div>
        <div class="panel">
	  <div class="panel-body stockclass">
	    <div class="form-group">
	      <select class="form-control input-sm" id="godown_name">
		<option value="" disabled hidden selected>Select Godown</option>
		{% for record in godown%}
		  <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
		{% endfor %}
	      </select>
	    </div>
	    {%if tax=="gst" %}
	    <table id="stocktable" class="table table-condensed table-bordered fixed-table">
	      <thead class="bg-primary input-sm">
		<tr>
		  <th class="col-xs-6 text-center">{% trans %}Product{% endtrans %}</th>
                  <th class="col-xs-2 text-center">{% trans %}HSN code{% endtrans %}</th>
		  <th class="col-xs-3 text-center">{% trans %}Stock{% endtrans %}</th>
		  <th class="col-xs-1">
		  </th>
		</tr>
	      </thead>
	      <tbody>
		<tr>
		  <td class="col-xs-6">
		    <select class="form-control input-sm prodstock" id="prodstockid">
		      <option value="" disabled hidden selected>Select Product</option>

		    </select>
		  </td>
		  <td class="col-xs-2">
		    <label class="add_product_hsncode text-center"></label>
		  </td>
		  <td class="col-xs-3">
		    <div class="form-inline nopadding">
		      <div class="form-group nopadding">
			<div class="input-group">
			  <input type='text' class="form-control text-right input-sm numtype open_stock" value="0.00" aria-describedby="unitaddon">
			  <span class="input-group-addon input-sm unitname"></span>
			</div>			    
		      </div>
		    </div>
		  </td>
		  
		  <td class="col-xs-1">
		    <a href="#" class="product_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
		  </td>

		</tr>
	      </tbody>
	    </table>
	    {%else%}
	<table id="stocktable" class="table table-condensed table-bordered fixed-table">
	  <thead class="bg-primary input-sm">
	    <tr>
	      <th class="col-xs-6 text-center">{% trans %}Product{% endtrans %}</th>
	      <th class="col-xs-3 text-center">{% trans %}Stock{% endtrans %}</th>
	      <th class="col-xs-1">
	      </th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td class="col-xs-6">
		<select class="form-control input-sm prodstock" id="prodstockid">
		  <option value="" disabled hidden selected>Select Product</option>

		</select>
	      </td>
	      <td class="col-xs-3">
		<div class="form-inline nopadding">
		  <div class="form-group nopadding">
		    <div class="input-group">
		      <input type='text' class="form-control text-right input-sm numtype open_stock" value="0.00" aria-describedby="unitaddon">
		      <span class="input-group-addon input-sm unitname"></span>
		    </div>			    
		  </div>
		</div>
	      </td>
	      <td class="col-xs-1">
		<a href="#" class="product_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
	      </td>
	    </tr>
	  </tbody>
	</table>
	{% endif %}
	<div>
		  <small id="donehelp" class="form-text text-muted">Press 'Insert' key to add stock. Press 'Esc' key to cancel modal.</small>
	</div>
	  </div>
	</div>
	<div class="panel-footer">
	  <div class="container-fluid">
	    <button class="btn btn-success btn-sm" id="stock_done" data-toggle="tooltip" data-placement="top" ><i class="fa fa-check" aria-hidden="true"></i>{% trans %} Done{% endtrans %}</button>
	    <button id="stockreset" class="btn btn-warning btn-sm common" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
	  </div>
	</div>
      </div>
