<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Authors{% endtrans %}</title>
   <style media="screen">
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label {
  		font-size: 90%;
  	}
    div.container {
        width:650px;
        height:500px;
        margin: auto;
    }
    </style>
</head>
<body>
  <div style="padding-top:30px" class='container'>
    <div class="row">
      <div class="panel shadow">
        <div class="panel-heading">
       <span style="font-size:17px;"> Authors </span>
        </div>
        <div class="panel-body " style="height:59vh;">
	    <div class="content">
                <div style="text-align: justify; text-justify: inter-word;">
                        <p>
                          Krishnakant Mane(Founder & Project Leader) <a href="mailto:kk@dff.org.in">kk@dff.org.in</a><br />
                          Arun Kelkar (Domain Expert) <a href="mailto:arunkelkar@dff.org.in">arunkelkar@dff.org.in</a><br />
          
                        </p>
                        <p>
                          Abhijith Balan <a href="mailto:abhijith@dff.org.in">abhijith@dff.org.in</a><br/>
                          Ark Arjun (Logo designer) <a href="maiito:arkarjun@gmail.com">arkarjun@gmail.com</a></br>
                          Bhushan Patil <a href ="mailto:techgenzhosting@gmail.com"> techgenzhosting@gmail.com</a><br/>        
                          Prajkta Patkar <a href ="mailto:prajakta@dff.org.in"> prajakta@dff.org.in</a><br/>
                          Rupali Badgujar <a href ="mailto:rupalibadgujar1234@gmail.com"> rupalibadgujar1234@gmail.com</a><br/>
                          Rohan Khairnar <a href ="mailto:rohankhairnar5@gmail.com"> rohankhairnar5@gmail.com</a><br/>
                          Gaurav Thakur <a href ="gaurav.thakur@sakec.ac.in"> gaurav.thakur@sakec.ac.in</a><br/>
                          Jainam Doshi <a href ="jainam.doshi@sakec.ac.in"> jainam.doshi@sakec.ac.in</a><br/>
                          Nirali Dodhia <a href ="nirali.dodhia@sakec.ac.in"> nirali.dodhia@sakec.ac.in</a><br/>
                          Nishit Jakharia <a href ="nishitjakhariya@gmail.com"> nitheshjakhariya@gmail.com</a><br/>
                          Rudresh Dongre <a href ="rudresh.dongre@sakec.ac.in"> rudresh.dongre@sakec.ac.in</a><br/>
          
          
          
                    </p>
                        <p>
                          For former developers list visit <a href="http://gnukhata.in/#team" target="_blank">{% trans %}gnukhata.in{% endtrans %}</a>
                        </p>
                  </div>
	    </div><!-- /.-content -->
	  </div><!-- /.-dialog -->
</body>
</html>
      