<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>
  <style type="text/css">

  td {
  	font-size: 65%;
  	color: black;
  }

  th {
  	font-size: 70%;
  }

  @page {
    size : 21cm 29.7cm;
    margin : 10mm 10mm 20mm 10mm
  }
  thead{
    display: table-header-group;
  }
  tfoot{
    display: table-footer-group;
  }

  </style>
</head>
<body>
  <span class="printorgdetails hidden-print" style="margin:auto; display:table;"><strong>{% trans %}List of Accounts{% endtrans %}</strong></span>

  <div class="table-responsive printorgdetails">
    <table class="table table-condensed table-bordered table-striped shadow">
      <thead class="bg-primary">
        <tr class="visible-print">
          <th colspan="4" style="text-align:center; font-size:80%;">
            {% trans %}List of Accounts{% endtrans %}
          </th>
        </tr>
        <tr>
          <th class="col-xs-1 smwrap" >
            {% trans %}Sr.No.{% endtrans %}
          </th>
          <th class="col-xs-3" >
            {% trans %}Account Name{% endtrans %}
          </th>
          <th class="col-xs-3" >
            {% trans %}Group Name{% endtrans %}
          </th>
          <th class="col-xs-3" >
            {% trans %}Sub-Group Name{% endtrans %}
          </th>
          <th class="col-xs-2" >
            {% trans %}Default A/C for{% endtrans %}
          </th>
        </tr>
      </thead>
      <tbody>

        {% for record in gkresult %}
        <tr	value="{{record["accountcode"]}}">
          <td class="col-xs-1 smwrap calign" >
{{record["srno"]}}
          </td>
          <td class="col-xs-3">
{{record["accountname"]}}
          </td>
          <td class="col-xs-3" >


{{record["groupname"]}}
          </td>
          <td class="col-xs-3">
{{record["subgroupname"]}}
          </td>
          <td class="col-xs-2">
            {{record["defaultflag"]}}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    <span style="margin:auto; display:table;">
      <button type="button" class="btn btn-sm btn-danger hidden-print" id="loaback" accesskey="k">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i> Bac<u>k</u>{% endtrans %}</button>
  		<button type="button" class="btn btn-sm btn-info hidden-print" id="loaprint" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t</u>{% endtrans %}</button>
  	</span>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {

      oninvoice = 0;

      $("#msspinmodal").modal("hide");

      $("title").html("GNUKhata")
      $("#loaprint").click(function(event) {
        window.print();
      });
      $("#loaback").click(function(event) {
        console.log(sessionStorage.accMenuFlag);
       if (sessionStorage.accMenuFlag == 1){
         $.ajax(
      {

        type: "POST",
        url: "/showlistofaccounts",
        global: false,
        async: false,
        datatype: "text/html",
        beforeSend: function(xhr)
        {
          xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
        },
        success: function(resp)
        {
          $("#info").html(resp);
        }
      }
    );
       }
       else{
         
          $('#addaccount').click();
       }
    
      });
    });
  </script>

</body>
</html>
