ul.scrollable {
	height: auto;
	max-height: 580px;
	overflow-x: scroll;
}
body{overflow-y:auto;}
.shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.shortcut {
	padding: 0px 0 0px 40px;
}
td{
	word-wrap: break-word;
	font-weight: bold;
}
.modal-open{
	overflow: auto;
}
th{
	word-wrap: break-word;
	font-weight:bolder;
}

td > a {
  color: black;
}

a:focus,
.focus a {
	outline: none !important;
}
.printorgdetails{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
.table{
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}
.invoiceslist{
	font-weight:normal !important;
	font-size: 90%;
}
#msspinmodalcontent {
	background: inherit;
}
input[type="radio"]:focus {outline: 2px #1f0e5e solid !important;}
input[type="checkbox"]:focus {outline: 2px #1f0e5e solid !important;}

.flowdiv{
	width: 85%;
	height: 150px;
	padding: 15px;
	border-radius: 3%;
  }
  .flowouterdiv{
	padding-top: 10px;
  }
  .dashboarddiv{
   background-color: rgb(248,248,248);
	width: 85%;
	height: 320px;
	padding: 10px;
	border-radius: 5px;
  }
  .dashboardouterdiv{
   background-color: rgba(255, 255, 255, 0,0);
	padding-top: 20px;
  }
  .graph{
	background-color: #1b2631;
	width: 15px;
	overflow-x: auto;
  }
  .submenu{
	color:#020d1f;
	text-decoration: none !important;
	margin-left: 6px;
	font-size: 16px;
	border: none;		
  }
  .submenu_item{
		color:#393b3d;
		text-decoration: none !important;
		margin-left: 20px;
		border: none;
	}
	.submenu_item:hover, .submenu:hover{
	color: rgb(51, 122, 183);
	}

.submenuli, .submenuitem{
	padding: 5px;
}
.submenuli:hover{
	background-color: #e8e8e8;
	color: rgb(51, 122, 183);
}
.dashboardmenu{
	color:#696969;
	margin-top:6px;
	text-decoration: none;
	padding: 7px
}
.dashboardmenu:hover{
	background-color: #e8e8e8;
	 color: rgb(51, 122, 183);
}

.submenuitem:hover, .liclass{
	background-color: #e8e8e8;
	color: rgb(51, 122, 183);
}
.sidebar:hover{
	position: fixed;
    top: 0;
		bottom: 0;
overflow-y: auto;
}
.brand
{
	position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.namestyle,.namestyle:hover{
color:#ff7f2a;
text-shadow: 0.3px 0.3px 0.6px gray;
font-size: 20px; 
margin-left: -15px;
}
.icon-bar {
	color: black;
	border-color: white;
	background-color: black;
  }
option {
	 min-height: 15px !important;
	 padding-top: 7px !important;
}
@media (min-width: 767px) {
    nav, .navbar-collapse, .navbar-fixed-top, .navbar-header, nav > li, .navbar-brand {
	min-height:35px !important;
	height:35px !important;
    }

    nav > li > a,  .navbar-brand{
	padding-top:7px !important;
	padding-bottom:7px !important;
    }
    .navbar-nav > li > a {
	padding-top:7px !important;
	padding-bottom:7px !important;
    }
    #mainshellticker {
	margin-top: 37px;
	margin-bottom:1px;
    }
}

@media (max-width: 767px) {
	#loginicon{color: white;
	 }
}